# database, you can host your database on supabase
# create a supabase db from supabase.com, to get the following two things, click on the "connect" button after creating a project
# Do not forget to add your password in the database urls
DATABASE_URL= # this is the "Direct Connection" url
DIRECT_URL= # this is the "Transaction Pooler" url

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
NEXTAUTH_SECRET=
# for local use: NEXTAUTH_URL="http://localhost:3000/"
NEXTAUTH_URL=

# Email (Resend), go to resend.com to generate one
RESEND_TOKEN=

# Vercel, go to storage section in your project and create a "Blob" storage
BLOB_READ_WRITE_TOKEN=